@import '../../../Core/globalStyle';

.mc-button{
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
  border-width: 0;
  border-style: solid;
  border-radius: 5px;

  &.primary{
    background-color: $primary;
  }
  &.warning{
    background-color: $warning;
  }
  &.error{
    background-color: $error;
  }
}
