$darkBackground: #113f67;
$midBackground: #38598b;
$background: #a2a8d3;
$lightBackground: #e7eaf6;

$item: #02576c;
$selectedItem: #ff8e0c;
$hoverItem: #05a19c;

$primary: #2190ef;
$warning: #ffa800;
$error: #ff1a19;
