@import "../../../Core/globalStyle";

.select {
  *{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }

    cursor: default;

    &.input {
        width: 100%;
    }

    &.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: "auto";
    border: "solid  1px #c6c4c4";
    
        &.active{
        background-color: grey;
        }
    }   
}
