@import "../../../Core/globalStyle";

.select {
    
    cursor: default;

    &.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: "auto";
    border-radius: 5px;
    border: solid  1px #c6c4c4;
    background-color: white;

        li{
          cursor: pointer;
          border-radius: 5px;
          background-color: white;
          margin: 2px;
          &.active{
            background-color: grey;
          }
        }
    }   
}
